#container{
    width:450px;
    margin:0 auto;
    padding: 0;
}
#check{
    text-align: center;
    border:1px solid #ddd;
    margin: 0 auto;
}
h1 {
    background-color: black;
    color:white;
    font-size: 14px;
    padding:5px;
    text-align:left;
    margin:0px auto;
}
h2{
    color:red;
    font-size:16px;
}
p {
    
    font-size:18px;
    line-height: 2;
}
.accent{
    color:blue;
    font-weight: bold;
}
#smalltext{
    font-size: 12px;
}